/*
white :   #dddcda
dark :    #434550
dark+ :   #34353e
 */

* {
 font-size: 100%;
 font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
}

.row {
  margin: 0;
  flex-wrap: unset;
}

img {
  vertical-align: top;
}

#SocialNetworksBackground {
  position: fixed !important;
  z-index: -1;
  position: absolute;
  min-width: 100%;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#HeaderVideoDiv {
  width:100%;
  margin:auto;
  display:block;
  position: relative;
}

#RealHeaderVideoDiv {
  /* position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  transform: translate(-50%, 0); */
}

#HeaderVideo{
  /* width: auto;
  height: 100vh; */

  /* position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2)); */
}


#RealHeaderVideoDiv {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#HeaderVideo {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  #HeaderVideo {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  #HeaderVideo {
    width: 100%;
  }
}


#Content {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#HeaderLogoDiv{
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

#HeaderLogo{
  width: 60%;
  /*height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  max-width: 35rem;
  position: absolute;
  top: 0;
  bottom: 30%;
  margin: auto;
  left: 0;
  right: 0;
}

#DecorativeTopBarTitle{
  z-index: 2;
  margin-bottom: -2.8%;
  width: 50%;
  padding: 0;
}

#BackgroundContainerTitle{
  padding: 0 2.7%;
  width: 50%;
  margin: auto;
  z-index: 1;
  opacity: 0.9;
}

#BackgroundTitle{
  background-color: #434550;
}

#TextTitle {
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  color: #dddcda;
  width: 100%;
  margin: auto;
  padding: 6%;
}

#DecorativeBottomBarTitle{
  width: 10%;
  padding: 0;
  height: 1.2vw;
  opacity: 0.9;
}


#ContactDiv {
  /* background-color: #444; */
  /* padding-top: 3%; */
  width: 100%;
  text-align: center;
}

#ContactContentDiv {
  padding: 1.5%;
  background-color: #dddcda;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
  margin: auto;
}

#ContactTextDiv {

}

#TopGradient {
  width: 100px;
  height: 12px;
  text-align: center;
  vertical-align: top;
  margin: auto;
}

/* Subscribe mail */
#NewsletterDiv{
  padding-bottom: 40px;
}

.form-group{
  margin: 0;
  text-align: center;
  margin: auto;
}

.form-control{
  width: auto;
  display: flex;
  margin: auto;
}

#SubscribeTitle {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #dddcda;
  padding-bottom: 10px;
}

#SubscribeEmail {
  background-color: #dddcda;
}

.SubmitButton {
  display: flex;
  margin: auto;
  background-color: #7289DA;
  border-color: #7289DA;
}

.SubmitButton:active, .SubmitButton:hover, .SubmitButton:focus,
.SubmitButton:visited, .SubmitButton:focus-within, .SubmitButton:focus-visible {
  background-color: #5769ab !important;
  border-color: #5769ab !important;
}

/* Discord */
#DiscordText1, #DiscordText2, #DiscordText3, .ColoredText {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #434550;
  margin: auto 0 auto auto;
  padding-bottom: 10px;
  display: inline;
}

#SocialNetworksText{
  margin: auto auto auto 0;
}

#DiscordArrowContainer {
  width: 100%;
  height: 100%;
  text-align: right;
  padding-right: 40px;
}

#DiscordArrow{
  transform: rotate(120deg);
}

.ColoredText{
  color: #7289DA;
}

/* Social networks */
#SocialNetworksBracketContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left: 300px;
}

#SocialNetworksBracket{
  transform: rotate(90deg);
  font-size: 220px;
  font-weight: 100;
  margin: 0px;
  height: 10px;
  width: 10px;
}

#Separator{
  width: 2px;
  background-color: #434550;
  margin: 0px 4% 0px 2%;
}

.ColWithoutPadding {
  padding: 0;
}

/* Game Resume */

#ContentGameResume {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#DecorativeTopBarGameResume{
  margin: auto;
  z-index: 2;
  margin-bottom: -4.5%;
  width: 80%;
  padding: 0;
  position: relative;
  display: block;
}

#BackgroundContainerGameResult{
  padding: 0 4.6%;
  width: 80%;
  margin: auto;
  z-index: 1;
  opacity: 0.9;
}

#BackgroundGameResume{
  background-color: #43455066;
}

#TextGameResume, #TextGameProgress{
  text-align: left;
  font-size: 2vh;
  /* font-size: clamp(12px, 4vw, 24px); */
  font-weight: 300;
  color: #dddcda;
  width: 100%;
  margin: auto;
  padding: 6%;
  line-height: 1.4rem;
  padding-bottom: 2%;
}

#TextGameProgress {
  color: #9c9c9c;
  padding-top: clamp(1rem, 10vw, 2%);
  padding-bottom: 6%;
}

#DecorativeBottomBarGameResume{
  width: 10%;
  padding: 0;
  height: 1.2vw;
  opacity: 0.9;
  margin: auto;
}

#DivGameResume {
  /* padding-top: 2%; */
}

#ImageGameResume {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 34vw;
  object-fit: cover;
  margin-top: -3%;
}


/* Gallery */

.modal-content {
  background-color: transparent;
  border: 0;
  /*
  white :   #dddcda
  dark :    #434550
  dark+ :   #34353e
   */
}

.modal-body {
  background-color: #34353e;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
  padding: 1.5rem;
}

.modal-header {
  border-bottom: 0;
  padding: 0 1rem;
}

.modal-header span {
  text-shadow: 0;
  color: #dddcda;
  padding: 0 0.3rem;
  font-weight: 300;
}

.modal-header button {
  background-color: #34353e;
  opacity: 1;
  border-radius: 0.3rem 0.3rem 0 0;
}

.container .row a {
  padding: 1%;
  margin: auto;
}
/* Game Aspects */

.DivGameAspect{
  text-align: center;
  padding-top: 4%;
  color: #dddcda;
}

.LogoGameAspect{
  width: 80px;
}

.TitleGameAspect {
  letter-spacing: 10px;
  font-size: 4vh;
  padding-bottom: 2%;
  padding-top: 1%;
  /* padding-left: 20px; */
}

.TextGameAspect {
  font-weight: 300;
  font-size: 2vh;
  width: 80%;
  margin: auto;
  line-height: 1.6rem;
}

/* Footer */

#DivFooter {
  background-color: #dddcda;
  padding: 40px 6%;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

#FooterMail {
  color: #434550;
  font-size: 16px;
  padding-bottom: 20px;
}

#FooterCopyright {
  color: #434550;
  font-size: 12px;
}
