/*
white :   #dddcda
dark :    #434550
dark+ :   #34353e
 */

* {
 font-size: 100%;
 font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
}

.row {
  margin: 0;
}

img {
  vertical-align: top;
}

#SocialNetworksBackground {
  position: fixed !important;
  z-index: -1;
  position: absolute;
  min-width: 100%;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#HeaderVideoDiv {
  width:100%;
  margin:auto;
  display:block;
  position: relative;

}

#HeaderVideo{
  width:100%;
  height:auto;
}

#Content {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#HeaderLogo{
  width: 38%;
  height: auto;
}

#DecorativeTopBarTitle{
  z-index: 2;
  margin-bottom: -2.3%;
  width: 40%;
  padding: 0;
}

#BackgroundContainerTitle{
  padding: 0 2.2%;
  width: 40%;
  margin: auto;
  z-index: 1;
  opacity: 0.9;
}

#BackgroundTitle{
  background-color: #434550;
}

#TextTitle{
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  color: #dddcda;
  width: 100%;
  margin: auto;
  padding: 6%;
}

#DecorativeBottomBarTitle{
  width: 10%;
  padding: 0;
  height: 1.2vw;
  opacity: 0.9;
}


#ContactDiv {
  /* background-color: #444; */
  padding-top: 6%;
}

/* Subscribe mail */
#NewsletterDiv{
  padding-bottom: 40px;
}

.form-group{
  margin: 0;
  text-align: center;
  margin: auto;
}

.form-control{
  width: auto;
  display: flex;
  margin: auto;
}

#SubscribeTitle {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #dddcda;
  padding-bottom: 10px;
}

#SubscribeEmail {
  background-color: #dddcda;
}

.SubmitButton {
  display: flex;
  margin: auto;
  background-color: #7289DA;
  border-color: #7289DA;
}

.SubmitButton:active, .SubmitButton:hover, .SubmitButton:focus,
.SubmitButton:visited, .SubmitButton:focus-within, .SubmitButton:focus-visible {
  background-color: #5769ab !important;
  border-color: #5769ab !important;
}

/* Discord */
#DiscordText {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #dddcda;
  margin: auto 0 auto auto;
  padding-bottom: 10px;
}

#SocialNetworksText{
  margin: auto auto auto 0;

}

#DiscordText {
  padding-right: 20px;
}

#DiscordArrowContainer {
  width: 100%;
  height: 100%;
  text-align: right;
  padding-right: 40px;
}

#DiscordArrow{
  transform: rotate(120deg);
}

.ColoredText{
  color: #7289DA;
}

/* Social networks */
#SocialNetworksBracketContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left: 300px;
}

#SocialNetworksBracket{
  transform: rotate(90deg);
  font-size: 220px;
  font-weight: 100;
  margin: 0px;
  height: 10px;
  width: 10px;
}

#Separator{
  width: 2px;
  height: 45px;
  background-color: #dddcda;
  margin: 0px 25px 0px 10px;
}

.ColWithoutPadding {
  padding: 0;
}

/* Game Resume */

#ContentGameResume {
  text-align: center;
  padding-top: 2%;
}

#DecorativeTopBarGameResume{
  margin: auto;
  z-index: 2;
  margin-bottom: -4.5%;
  width: 80%;
  padding: 0;
  position: relative;
  display: block;
}

#BackgroundContainerGameResult{
  padding: 0 4.6%;
  width: 80%;
  margin: auto;
  z-index: 1;
  opacity: 0.9;
}

#BackgroundGameResume{
  background-color: #434550;
}

#TextGameResume{
  text-align: center;
  font-size: 1.4vw;
  font-weight: 300;
  color: #dddcda;
  width: 100%;
  margin: auto;
  padding: 6%;
}

#DecorativeBottomBarGameResume{
  width: 10%;
  padding: 0;
  height: 1.2vw;
  opacity: 0.9;
  margin: auto;
}

#DivGameResume {
  padding-top: 2%;
}

#ImageGameResume {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 34vw;
  object-fit: cover;
}

#TextGameResume {
  /* z-index: 2; */
}

/* Game Aspects */

.DivGameAspect{
  text-align: center;
  padding-top: 8%;
  color: #dddcda;
}

.LogoGameAspect{
  width: 80px;
}

.TitleGameAspect {
  letter-spacing: 10px;
  font-size: 34px;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 20px;
}

.TextGameAspect {
  font-weight: 300;
  font-size: 18px;
  width: 80%;
  margin: auto;
}
