#TextTitle::before  {
  /* white-space:pre; */
  content: "Have you ever feared the moon?";
}

#DiscordText1::before  {
  content: "Join the";
}

#DiscordText2::before  {
  content: "to be part of the adventure & follow";
}

#TextGameResume::before {
  white-space: pre-wrap;
  content: "Neptu is a multiplayer online game where YOU choose YOUR way to play. Between exploration, construction, combat and trade, everything is possible and nothing is forbidden. \A\A Game under development, go on social networks to follow the progress of the project!";
}

#TextGameProgress::before {
  content: "Objective: crowdfunding planned in 2021.";
}

#GameAspect1Title::before {
  content: "EXPLORE";
}

#GameAspect1Text::before {
  content: "Explore an infinite post-apocalyptic world. Travel to different regions to collect various resources, and find places of interest that could bring you wealth and knowledge. But beware, the environment could be hostile...";
}

#GameAspect2Title::before {
  content: "FIGHT";
}

#GameAspect2Text::before {
  content: "Confront danger, track down your enemies and hunt for survival. Join forces with other players to defeat the most dangerous creatures! But be careful that the hunter does not become the hunted...";
}

#GameAspect3Title::before {
  content: "BUILD";
}

#GameAspect3Text::before {
  content: "Build and join allied camps and villages to rest, haggle and prepare for your next expedition. Increase your notoriety by developing your village to make it a must-see place for other travelers. Build your home in your own image and adapt it to your needs.";
}

#GameAspect4Title::before {
  content: "CRAFT";
}

#GameAspect4Text::before {
  content: "Use your resources to create the perfect equipment for your next expedition. Forge, cook, hunt, harvest... Choose your specialty or specialties and develop your skills to become a recognized expert in your field.";
}

#GameAspect5Title::before {
  content: "TRADE";
}

#GameAspect5Text::before {
  content: "Visit neighboring villages to trade your most valuable resources or buy those of other adventurers. Become an itinerant trader and know how to recognize the most prized resources in the region and sell them elsewhere to the highest bidder. But be careful not to lose your merchandise on the road, and stay the course so you don't lose yourself...";
}

#FooterCopyright:lang(fr)::before {
  white-space: pre-wrap;
  content: "Neptu, trademarked by Alexandre Depail.\A Copyright © 2020 Neptu. All rights reserved."
}
