#TextTitle:lang(fr)::before  {
  /* white-space:pre; */
  content: "As-tu déjà eu peur de la lune ?";
}

#DiscordText1:lang(fr)::before  {
  content: "Rejoins le";
}

#DiscordText2:lang(fr)::before  {
  content: "pour prendre part à l'aventure & follow";
}

#TextGameResume:lang(fr)::before {
  white-space: pre-wrap;
  /* content: "Neptu est un jeu en ligne multijoueur où exploration, construction, économie et combat s’allient dans un monde infini et unique.\A\A Explorez et survivez dans un monde post-apocalyptique hostile. Combattez les créatures et joueurs ennemis, colonisez des territoires puis bâtissez et développez vos propres villes, rejoignez d’autres villes déjà existantes, échangez et commercez.\A\A Dans Neptu, VOUS choisissez VOTRE façon de jouer."; */

  content: "Neptu est un jeu en ligne multijoueur où VOUS choisissez VOTRE façon de jouer. Entre exploration, construction, combat et commerce, tout est possible et rien n'est interdit. \A\A Jeu en cours de développement, rendez-vous sur les réseaux sociaux pour suivre l'avancée du projet !";
}

#TextGameProgress:lang(fr)::before {
  /* white-space: pre-wrap; */
  content: "Objectif : financement participatif courant 2021.";
}

#GameAspect1Title:lang(fr)::before {
  content: "EXPLOREZ";
}

#GameAspect1Text:lang(fr)::before {
  content: "Explorez un monde post-apocalyptique infini. Voyagez dans différentes régions pour collecter diverses ressources, et trouver des lieux d'intérêts qui pourraient vous apporter richesse et savoir. Mais attention, l'environnement pourrait se montrer hostile...";
}

#GameAspect2Title:lang(fr)::before {
  content: "COMBATTEZ";
}

#GameAspect2Text:lang(fr)::before {
  content: "Confrontez les dangers, traquez vos ennemis et chassez pour survivre. Alliez vos forces avec d'autres joueurs pour vaincre les créatures les plus dangereuses ! Mais attention à ce que le chasseur ne devienne pas le chassé...";
}

#GameAspect3Title:lang(fr)::before {
  content: "CONSTRUISEZ";
}

#GameAspect3Text:lang(fr)::before {
  content: "Construisez et rejoignez des camps et villages alliés pour vous reposer, marchander et vous préparer pour votre prochaine expédition. Augmentez votre notoriété en développant votre village pour en faire un lieu incontournable pour les autres voyageurs. Bâtissez votre maison à votre image et adaptez-la à vos besoins.";
}

#GameAspect4Title:lang(fr)::before {
  content: "FABRIQUEZ";
}

#GameAspect4Text:lang(fr)::before {
  /* content: "Utilisez vos compétences pour créer l'équipement parfait pour votre prochaine expédition et gagnez de l'expérience afin de fabriquer de meilleurs objets ! Forgez, cuisinez, chassez, récoltez... Choisissez votre ou vos spécialités et développez vos compétences pour espérer devenir un expert dans votre "; */
  content: "Utilisez vos ressources pour créer l'équipement parfait pour votre prochaine expédition. Forgez, cuisinez, chassez, récoltez... Choisissez votre ou vos spécialités et développez vos compétences pour espérer devenir un expert reconnu dans votre domaine.";
}

#GameAspect5Title:lang(fr)::before {
  content: "COMMERCEZ";
}

#GameAspect5Text:lang(fr)::before {
  content: "Visitez les villages voisins pour échanger vos plus précieuses ressources ou acheter celles des autres aventuriers. Devenez un commerçant itinérant et sachez reconnaitre les ressources les plus prisées de la région pour les revendre ailleurs au plus offrant. Mais prenez garde à ne pas perdre votre marchandise sur la route, et gardez le cap afin de ne pas vous perdre vous-même...";
}

#FooterCopyright:lang(fr)::before {
  white-space: pre-wrap;
  content: "Neptu, marque déposée par Alexandre Depail.\A Copyright © 2020 Neptu. Tous droits réservés."
}
